<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
    <link rel="stylesheet" href="../public/style.css" />
    <script src="https://unpkg.com/axios@0.15.3/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="central">
      <h1><%= title %></h1>
      <br />
      <div id="login">
        <form>
          <legend>Veuillez saisir vos identifiants</legend>
          <label for="email">email</label>
          <input type="text" name="email" id="email" />
          <label for="password">mot de passe</label>
          <input type="password" name="password" id="password" />
          <button type="submit">connexion</button>
        </form>
      </div>
      <div id="profile" style="display: none;">
        <button id="disconnect">deconnexion</button>
      </div>
    </div>
    <script>
      var form = document.querySelector("form");
      form.addEventListener("submit", loginUser);

      var loginArea = document.getElementById("login");
      var profileArea = document.getElementById("profile");
      var buttonDisconnect = document.getElementById("disconnect");
      function loginUser(event) {
        loginUserWithXHR(event);
      }
      buttonDisconnect.addEventListener("click", logout);
      function logout() {
        switchProfileAtLogin();
        localStorage.removeItem("token");
      }

      function loginUserWithXHR(event) {
        event.preventDefault();
        console.log("loginUserWithXHR");

        // https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/login", true);

        //Send the proper header information along with the request
        xhr.setRequestHeader(
          "Content-type",
          "application/x-www-form-urlencoded"
        );

        xhr.onreadystatechange = function () {
          //Call a function when the state changes.
          if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
            var token = xhr.response;
            localStorage.setItem("token", token);
            switchLoginAtProfile();
            form.reset();
          }
        };
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var payLoad = "email=" + email + "&" + "password=" + password;
        xhr.send(payLoad);
      }
      function switchLoginAtProfile() {
        loginArea.style.display = "none";
        profileArea.style.display = "block";
      }
      function switchProfileAtLogin() {
        loginArea.style.display = "block";
        profileArea.style.display = "none";
      }
    </script>
  </body>
</html>
